@use "sass:math";

$mygreen: #66c05d;
$myblack: #333333;
$mygrey: #efefef;

$left_and_rigth_padding: math.div(405px, 1920px) * 100%;
$envelope_width: math.div(140px, 540px) * 100%;
$envelope_height: math.div(106.54px, 212px) * 100%;

@mixin buttonBorder($bc, $c) {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $bc;
  border-radius: 25px;
  padding: 13px 27px;
  color: $c;
  font-size: 14px;
  &:hover {
    border-color: green;
    background: green;
    color: white;
  }
  @media screen and (max-width: 920px) {
    padding: 10px 14px;
    font-size: 16px;
  }
  @media screen and (max-width: 470px) {
    padding: 10px 12px;
    font-size: 12px;
  }
}

%RobotoRegular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
%RobotoMedium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
%RobotoBold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
