@import "_variables.scss";

.addressesBlock {
  background: $mygrey;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  padding: 20px $left_and_rigth_padding 132px;
  color: white;
  & .addressesBlock__mail {
    background: $mygreen url(../assets/image/envelope.png);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 25%;
  }
  & > div {
    background: $mygreen;
    padding: 35px 40px;
    display: flex;
    align-items: center;
    grid-row-gap: 25px;
    & h3 {
      font-size: 18px;
      @extend %RobotoBold;
    }
    & p {
      font-size: 14px;
      @extend %RobotoRegular;
    }
    input {
      width: 225px;
      height: 35px;
      border-radius: 25px;
      border: none;
      padding-left: 25px;
    }
    & button {
      @include buttonBorder(white, white);
    }
  }
}

@media (max-width: 1399px) {
  .addressesBlock {
    display: flex;
    flex-direction: column;
    & .addressesBlock__mail {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 920px) {
  .addressesBlock {
    padding: 0 50px 82px;
    & > div {
      padding: 15px 20px;
      & h3 {
        font-size: 20px;
      }
      & p {
        font-size: 16px;
      }
      input {
        width: 200px;
        height: 25px;
        padding-left: 20px;
      }
    }
  }
}

@media screen and (max-width: 470px) {
  .addressesBlock {
    padding: 0 10px 52px;
  }
}
